body {
    background: #c1dbe1;
}
h1 {
    background: -webkit-linear-gradient(#e1c513, #76b0c3);
    color: #3e08bb;
    text-align: center;
  }

h2{
   text-align: center;
   font-size: 70px;
   background: -webkit-linear-gradient(#e1c513, #ef4110);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
table{
    text-align: center;
}
.form {
    margin: 50px auto;
    width: 700px;
    padding: 30px 25px;
    background: rgb(234, 243, 245);
}
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: rgb(206, 113, 13);
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}
h3 {
    font-weight: normal;
    text-align: center;
}
.logout{
    
    font-size:large;
    text-align:center;
}
